<!-- Start Hero -->
<section id="hero" class="hero">
    <div class="hero__container container">
        <p class="mono hero__hello aos fade-in-translate-down delay-2">Hello, I am</p>

        <h1 class="hero__name aos fade-in-translate-left delay-6 ease-out">Robyn.</h1>

        <h2 class="hero__summary aos fade-in-translate-right delay-10 ease-out">
            <span class="hero__open">&#60;</span>
            <span class="hero__tag">web-developer</span>
            <span class="hero__close">&#47;&#62;</span>
        </h2>

        <div class="hero__buttons">
            <a href="#portfolio" class="button button--fill mono aos fade-in-translate-up delay-12">View my work</a>

            <a href="#" class="button button--outline mono aos fade-in-translate-up delay-14">Download CV</a>
        </div>
    </div>
</section>
<!-- End Hero -->