<!-- Start Portfolio -->
<section id="portfolio" class="portfolio section">
    <div class="portfolio__container container">
        <h1 class="section__heading heading-margin mono aos fade-in-translate-up">Latest Work</h1>

        <div class="portfolio__row row">
            <div class="portfolio__project col-md-6 aos fade-in-translate-up">
                <div class="project__overview">
                    <img src="https://images.pexels.com/photos/3209473/pexels-photo-3209473.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"
                        alt="" class="project__img">

                    <div class="project__details">
                        <p class="project__brief">
                            Leggings green juice mustache pickled. Waistcoat vaporware fanny pack tofu kombucha twee. Stumptown literally gentrify hammock hashtag.
                        </p>

                        <div class="project__technologies">
                            <span class="project__technology mono">HTML</span>
                            <span class="project__technology mono">CSS</span>
                            <span class="project__technology mono">Javascript</span>
                            <span class="project__technology mono">Figma</span>
                        </div>

                        <div class="project__links">
                            <a href="#" class="project__link"><i class="fas fa-external-link-alt"></i></a>
                        </div>
                    </div>
                </div>

                <p class="project__category mono aos fade-in-translate-up delay-3 ease-out">Front End</p>

                <a href="#" class="project__title aos fade-in-translate-up delay-5 ease-out">Project Title</a>
            </div>

            <div class="portfolio__project col-md-6 aos fade-in-translate-up delay-3">
                <div class="project__overview">
                    <img src="https://images.pexels.com/photos/3753028/pexels-photo-3753028.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"
                        alt="" class="project__img">

                    <div class="project__details">
                        <p class="project__brief">
                            Cold-pressed trust fund YOLO aesthetic etsy coloring book, sartorial marfa ramps hammock 90's pug franzen. Taxidermy
                        </p>

                        <div class="project__technologies">
                            <span class="project__technology mono">React</span>
                            <span class="project__technology mono">Tailwind</span>
                            <span class="project__technology mono">Node</span>
                            <span class="project__technology mono">Express</span>
                        </div>

                        <div class="project__links">
                            <a href="#" class="project__link"><i class="fas fa-external-link-alt"></i></a>
                        </div>
                    </div>
                </div>

                <p class="project__category mono aos fade-in-translate-up delay-5 ease-out">Full Stack</p>

                <a href="#" class="project__title aos fade-in-translate-up delay-7 ease-out">Project Title</a>
            </div>

            <div class="portfolio__project col-md-6 aos fade-in-translate-up">
                <div class="project__overview">
                    <img src="https://images.pexels.com/photos/3705471/pexels-photo-3705471.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"
                        alt="" class="project__img">

                    <div class="project__details">
                        <p class="project__brief">
                            Cardigan pour-over stumptown kale chips, yuccie ugh literally celiac blog hexagon tbh banh mi humblebrag 
                        </p>

                        <div class="project__technologies">
                            <span class="project__technology mono">React</span>
                            <span class="project__technology mono">PHP</span>
                            <span class="project__technology mono">Photoshop</span>
                        </div>

                        <div class="project__links">
                            <a href="#" class="project__link"><i class="fas fa-external-link-alt"></i></a>
                        </div>
                    </div>
                </div>

                <p class="project__category mono aos fade-in-translate-up delay-3 ease-out">Full Stack</p>

                <a href="#" class="project__title aos fade-in-translate-up delay-5 ease-out">Project Title</a>
            </div>

            <div class="portfolio__project col-md-6 aos fade-in-translate-up delay-3">
                <div class="project__overview">
                    <img src="https://images.pexels.com/photos/3016037/pexels-photo-3016037.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"
                        alt="" class="project__img">

                    <div class="project__details">
                        <p class="project__brief">
                            Adaptogen +1 jean shorts, sartorial distillery aesthetic four dollar toast tattooed. Hell of selvage
                        </p>

                        <div class="project__technologies">
                            <span class="project__technology mono">React</span>
                            <span class="project__technology mono">Tailwind</span>
                            <span class="project__technology mono">Node</span>
                            <span class="project__technology mono">Express</span>
                        </div>

                        <div class="project__links">
                            <a href="#" class="project__link"><i class="fas fa-external-link-alt"></i></a>
                        </div>
                    </div>
                </div>

                <p class="project__category mono aos fade-in-translate-up delay-5 ease-out">Full Stack</p>

                <a href="#" class="project__title aos fade-in-translate-up delay-7 ease-out">Project Title</a>
            </div>
        </div>
    </div>
</section>
<!-- End Portfolio -->