@use '../abstracts/' as a;
/*
====================
Typography utilities
====================
*/

.highlight {
    color: var(--color-primary);
}

.sans {
    font-family: var(--font-sans);
}

.mono {
    font-family: var(--font-mono);
}

.section__heading {
    color: var(--color-primary-x-dark);
    font-size: var(--font-9);
    margin-bottom: 2rem;

    @include a.mq-min(768px) {
        margin-bottom: 4rem;
    }
}