<!-- Start About -->
<section id="about" class="about section">
    <div class="about__container container">
        <div class="row">
            <div class="about__info col-md-6">
                <h1 class="section__heading mono aos fade-in-translate-up">About Me</h1>

                <p class="about__description aos fade-in-translate-up delay-3">
                    Born and raised in Chicago, I began my web development journey 15 years ago after learning how
                    to
                    remove
                    popup ads with inspect element in order to stream my favorite movies.
                </p>

                <p class="about__description aos fade-in-translate-up delay-5">
                    I love the thrill of solving problems in creative ways. Today, I spend my time working on my
                    upcoming
                    app, <span class="highlight">Waterbnb</span>
                </p>
            </div>

            <!-- Start Card Deck -->
            <div class="col-md-6 aos fade-in-translate-up delay-3">
                <card-deck>
                    <div class="card-deck__container starting-position">
                        <div class="card-deck__card card-deck__card--top">

                            <img src="./assets/about-1.png" class="card__img" loading="lazy">
                        </div>

                        <div class="card-deck__card card-deck__card--next">

                            <img src="./assets/about-3.png" class="card__img" loading="lazy">
                        </div>

                        <div class="card-deck__card">

                            <img src="./assets/about-2.png" class="card__img" loading="lazy">
                        </div>

                        <div class="card-deck__card card-deck__card--bottom">

                            <img src="https://images.pexels.com/photos/3973999/pexels-photo-3973999.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"
                                class="card__img" loading="lazy">
                        </div>
                    </div>

                    <div class="card-deck__pagination">
                        <button class="card-deck__button" name="previous">
                            <i class="fas fa-long-arrow-alt-left"></i>
                        </button>
                        <button class="card-deck__button" name="next">
                            <i class="fas fa-long-arrow-alt-right"></i>
                        </button>
                    </div>
                </card-deck>
            </div>
            <!-- End Card Deck -->
        </div>
    </div>
</section>
<!-- End About -->