<!-- Start Blog -->
<section id="blog" class="blog section">
    <div class="blog__container container">
        <h1 class="section__heading heading-margin mono aos fade-in-translate-up">Latest News</h1>

        <div class="blog__posts row">
            <div class="blog__post-container col-md-6 col-lg-4 aos fade-in-translate-up delay-1">
                <div class="blog__post">
                    <a href="#" class="post__img-container">
                        <img src="https://images.pexels.com/photos/3835/abstract.jpg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"
                            alt="" class="post__img">
                    </a>

                    <div class="post__tag-and-date mono highlight">
                        <p class="post__tag">UI Design</p>
                        <p class="post__date">12/25/2021</p>
                    </div>

                    <h2 class="post__title">
                        <a href="#">
                            How to make your website stand out
                        </a>
                    </h2>
                </div>
            </div>

            <div class="blog__post-container col-md-6 col-lg-4 aos fade-in-translate-up delay-4">
                <div class="blog__post">
                    <a href="#" class="post__img-container">
                        <img src="https://images.pexels.com/photos/7861727/pexels-photo-7861727.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"
                            alt="" class="post__img">
                    </a>

                    <div class="post__tag-and-date mono highlight">
                        <p class="post__tag">SEO</p>
                        <p class="post__date">12/01/2021</p>
                    </div>

                    <h2 class="post__title">
                        <a href="#">
                            How to get backlinks
                        </a>
                    </h2>
                </div>
            </div>

            <div class="blog__post-container col-md-6 col-lg-4 aos fade-in-translate-up delay-6">
                <div class="blog__post">
                    <a href="#" class="post__img-container">
                        <img src="https://images.pexels.com/photos/5022847/pexels-photo-5022847.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"
                            alt="" class="post__img">
                    </a>

                    <div class="post__tag-and-date mono highlight">
                        <p class="post__tag">Back End</p>
                        <p class="post__date">11/20/2021</p>
                    </div>

                    <h2 class="post__title">
                        <a href="#">
                            Building a REST API with Node and Express
                        </a>
                    </h2>
                </div>
            </div>
        </div>

        <a href="#" class="blog__button button button--fill mono aos fade-in-translate-up delay-7">View more</a>
    </div>
</section>
<!-- End Blog -->