<!-- Start Carousel -->
<carousel-component class="aos fade-in-translate-up">
    <div class="carousel__slider">
        <div class="carousel__slide">
            <img src="https://images.pexels.com/photos/1181686/pexels-photo-1181686.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="" class="testimonial__img">

            <div class="testimonial__stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
            </div>

            <p class="testimonial__author">
                Margaret Greene
            </p>

            <p class="testimonial__quote">
                Raw denim williamsburg yr, crucifix put a bird on it whatever lyft schlitz seitan lomo plaid fam cray.
            </p>
        </div>

        <div class="carousel__slide">
            <img src="https://images.pexels.com/photos/3906007/pexels-photo-3906007.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="" class="testimonial__img">

            <div class="testimonial__stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
            </div>

            <p class="testimonial__author">
                Cindy Lou
            </p>

            <p class="testimonial__quote">
                Mlkshk pickled green juice palo santo, meditation knausgaard cornhole portland lyft unicorn
            </p>
        </div>

        <div class="carousel__slide">
            <img src="https://images.pexels.com/photos/1211604/pexels-photo-1211604.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="" class="testimonial__img">

            <div class="testimonial__stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
            </div>

            <p class="testimonial__author">
                John Doe
            </p>

            <p class="testimonial__quote">
                Edison bulb freegan squid venmo post-ironic normcore man braid beard. Paleo plaid heirloom
            </p>
        </div>
    </div>

    <button class="carousel__button" name="previous">
        <i class="fas fa-long-arrow-alt-left"></i>
    </button>
    <button class="carousel__button" name="next">
        <i class="fas fa-long-arrow-alt-right"></i>
    </button>
</carousel-component>
<!-- End Carousel -->