<!-- Start Services -->
<section id="services" class="services section">
    <div class="services__container container">
        <h1 class="section__heading heading-margin mono aos fade-in-translate-up">Services</h1>

        <div class="services__row row">
            <div class="services__service-container col-md-6 aos fade-in-translate-up delay-3">
                <div class="services__service">
                    <p class="service__price mono">From $300</p>

                    <h2 class="service__title">UI Design</h2>

                    <p class="service__description">
                        Occupy heirloom kickstarter trust fund thundercats organic. Vegan la croix occupy slow-carb
                        four loko.
                    </p>
                </div>
            </div>

            <div class="services__service-container col-md-6 aos fade-in-translate-up delay-6">
                <div class="services__service">
                    <p class="service__price mono">From $500</p>

                    <h2 class="service__title">SEO</h2>

                    <p class="service__description">
                        Occupy heirloom kickstarter trust fund thundercats organic. Vegan la croix occupy slow-carb
                        four loko.
                    </p>
                </div>
            </div>

            <div class="services__service-container col-md-6 aos fade-in-translate-up delay-3">
                <div class="services__service">
                    <p class="service__price mono">From $600</p>

                    <h2 class="service__title">Content Creation</h2>

                    <p class="service__description">
                        Occupy heirloom kickstarter trust fund thundercats organic. Vegan la croix occupy slow-carb
                        four loko.
                    </p>
                </div>
            </div>

            <div class="services__service-container col-md-6 aos fade-in-translate-up delay-6">
                <div class="services__service">
                    <p class="service__price mono">From $1000</p>

                    <h2 class="service__title">Application Development</h2>

                    <p class="service__description">
                        Occupy heirloom kickstarter trust fund thundercats organic. Vegan la croix occupy slow-carb
                        four loko.
                    </p>
                </div>
            </div>

            <div class="services__service-container col-md-6 aos fade-in-translate-up delay-3">
                <div class="services__service">
                    <p class="service__price mono">From $400</p>

                    <h2 class="service__title">Social Media</h2>

                    <p class="service__description">
                        Occupy heirloom kickstarter trust fund thundercats organic. Vegan la croix occupy slow-carb
                        four loko.
                    </p>
                </div>
            </div>

            <div class="services__service-container col-md-6 aos fade-in-translate-up delay-6">
                <div class="services__service">
                    <p class="service__price mono">From $800</p>

                    <h2 class="service__title">Email Marketing</h2>

                    <p class="service__description">
                        Occupy heirloom kickstarter trust fund thundercats organic. Vegan la croix occupy slow-carb
                        four loko.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Services -->