<!-- Start Tabs -->
<tabs-component id="experienceTabs" class="aos fade-in-translate-up delay-1">
    <div class="tabs__headings">
        <p class="tabs__heading">Facebook</p>
        <p class="tabs__heading aos fade-in delay-2">Amazon</p>
        <p class="tabs__heading aos fade-in delay-4">Apple</p>
        <p class="tabs__heading aos fade-in delay-6">Netflix</p>
        <p class="tabs__heading aos fade-in delay-8">Google</p>
    </div>

    <div class="tabs__contents">
        <div class="tabs__content heading-margin">
            <h3 class="aos fade-in-translate-up delay-2">Developer Whisperer</h3>
            <p class="mono aos fade-in-translate-up delay-4">May, 2020 - Present</p>

            <ul>
                <li class="aos fade-in-translate-up delay-6">Hexagon paleo vexillologist, literally
                    chartreuse try-hard tattooed brunch.</li>
                <li class="aos fade-in-translate-up delay-7">Dreamcatcher typewriter poutine mustache mlkshk
                    artisan mixtape brunch.</li>
                <li class="aos fade-in-translate-up delay-8">Roof party 3 wolf moon taxidermy lyft, squid
                    air plant paleo master cleanse</li>
            </ul>
        </div>

        <div class="tabs__content heading-margin">
            <h3 class="aos fade-in-translate-up delay-2">Senior Developer</h3>
            <p class="mono aos fade-in-translate-up delay-4">Jan, 2019 - April, 2020</p>

            <ul>
                <li class="aos fade-in-translate-up delay-6">Offal affogato crucifix VHS man braid sartorial migas keytar biodiesel edison bulb</li>
                <li class="aos fade-in-translate-up delay-7">kombucha shabby chic keffiyeh authentic vice. Iceland butcher raw denim succulents post-ironic</li>
                <li class="aos fade-in-translate-up delay-8">Mustache vice raw denim XOXO, vinyl ramps gentrify offal poke neutra 3 wolf moon</li>
            </ul>
        </div>

        <div class="tabs__content heading-margin">
            <h3 class="aos fade-in-translate-up delay-2">Front End Engineer</h3>
            <p class="mono aos fade-in-translate-up delay-4">Jun, 2018 - Dec, 2018</p>

            <ul>
                <li class="aos fade-in-translate-up delay-6">hell of four loko williamsburg echo park. Banjo literally disrupt coloring book cornhole actually</li>
                <li class="aos fade-in-translate-up delay-7">selvage chambray single-origin coffee poke. Mlkshk pickled green juice palo santo, meditation</li>
                <li class="aos fade-in-translate-up delay-8">knausgaard cornhole portland lyft unicorn succulents literally squid chia. Raw</li>
            </ul>
        </div>

        <div class="tabs__content heading-margin">
            <h3 class="aos fade-in-translate-up delay-2">UI Designer</h3>
            <p class="mono aos fade-in-translate-up delay-4">Feb, 2018 - Jun, 2018</p>

            <ul>
                <li class="aos fade-in-translate-up delay-6">denim williamsburg yr, crucifix put a bird on it whatever lyft schlitz seitan lomo plaid fam cray.</li>
                <li class="aos fade-in-translate-up delay-7">Swag la croix portland four dollar toast letterpress ugh gochujang 90's pickled bespoke food truck</li>
                <li class="aos fade-in-translate-up delay-8">dreamcatcher. Salvia taxidermy twee YOLO, asymmetrical echo park biodiesel mumblecore</li>
            </ul>
        </div>

        <div class="tabs__content heading-margin">
            <h3 class="aos fade-in-translate-up delay-2">Front End Architect</h3>
            <p class="mono aos fade-in-translate-up delay-4">Aug, 2016 - Jan, 2018</p>

            <ul>
                <li class="aos fade-in-translate-up delay-6">tilde. Photo booth glossier YOLO seitan venmo beard franzen succulents food</li>
                <li class="aos fade-in-translate-up delay-7">truck try-hard truffaut gastropub pork belly heirloom. Tote bag pok pok pabst, kitsch put a bird</li>
                <li class="aos fade-in-translate-up delay-8">on it sriracha vinyl. Copper mug glossier cornhole offal farm-to-table. XOXO woke gastropub</li>
            </ul>
        </div>
    </div>
</tabs-component>
<!-- End Tabs -->