/*
========
Carousel
========
*/

carousel-component {
    position: relative;
    display: block;
    overflow-x: hidden;
    width: 100%;
    z-index: 0;
}

/* Slider */
.carousel {
    &__slider {
        display: flex;
        align-items: center;
    }

    &__slide {
        position: relative;
        width: 100%;
        min-height: min(calc(100vh - 4rem), 600px);
        height: fit-content;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 2rem;
        align-items: center;
        text-align: center;
        padding: 2rem;
    }
    &__buttons {
        display: flex;
        justify-content: center;
        gap: 2rem;
    }

    &__button {
        cursor: pointer;
        padding: .5rem;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        border: none;
        font-size: var(--font-7);
        color: var(--color-primary-x-light);
        background-color: transparent;
        transition: color 200ms ease-in-out;

        &:hover,
        &:focus {
            color: var(--color-secondary);
        }
    }
}