@forward './reset';
@forward './colors';
@forward './typography';

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--color-gray-1);
    background-color: var(--color-gray-2);
    font-family: var(--font-sans);

    &.body {

        &--modal-open,
        &--navbar-shown {
            overflow-y: hidden;
            position: fixed;
        }
    }
}