@use '../abstracts/'as a;

/*
============
Testimonials
============
*/

.testimonial {
    &__img {
        border-radius: 50%;
        width: 100px;
        height: 100px;
        object-fit: cover;
        object-position: center center;

        @include a.mq-min(768px) {
            width: 200px;
            height: 200px;
        }
    }

    &__stars {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: .5rem;
        margin-bottom: .5rem;
        font-size: var(--font-6);
        color: var(--color-secondary);

        @include a.mq-min(768px) {
            font-size: var(--font-8);
        }
    }

    &__author {
        font-size: var(--font-4);
        color: var(--color-primary);

        @include a.mq-min(768px) {
            font-size: var(--font-6);
        }
    }

    &__quote {
        font-size: var(--font-6);
        color: var(--color-primary-dark);

        @include a.mq-min(768px) {
            font-size: var(--font-8);
        }
    }
}