/*
==========
Text Field
==========
*/

.text-field{
    position: relative;

    &__label{
        position: absolute;
        top: .75rem;
        left: 1rem;
        font-size: var(--font-4);
        color: var(--color-primary-x-dark);
        transition: all 200ms ease-in-out;
        cursor: text;
        &--up{
            top: .2rem;
            left: 1rem;
            font-size: .6rem;
            letter-spacing: .1rem;
        }
    }
    &__input{
        width: 100%;
        padding: 1rem 1rem .5rem 1rem;
        font-size: var(--font-4);
        outline: none;
        border: 1px solid var(--color-primary);
        border-radius: 4px;
        background-color: transparent;
        color: var(--color-primary-x-dark);
        &:focus{
            border-color: var(--color-primary-light);
        }
    }
    &__textarea{
        height: 200px;
    }
}